In [1]:
import pandas as pd

In [7]:
raw_dataframe  = pd.read_csv('C:/Users/rugby/Documents/Canada/CV/Jack/Clariti/raw_fees.csv')
max(raw_dataframe["Id"].value_counts())

1

In [8]:
raw_dataframe.set_index('Id', inplace=True)
raw_dataframe.head()

,Name,Description__c,Department__c,Category__c,Sub_Category__c,Type__c,Quantity__c,Unit_Price__c
Id,,,,,,,,
a00P0000006KXnPIAW,Capers - Ox Eye Daisy,nisi venenatis tristique fusce congue diam id ...,Support,Tier 2,Cat1,TypeB,9,2.82
a00P0000006KXnQIAW,Lettuce - Frisee,eget rutrum at lorem integer tincidunt ante ve...,Development,Quality Assurance,Cat1,TypeA,3,39.29
a00P0000006KXnRIAW,Bag - Clear 7 Lb,fusce congue diam id ornare imperdiet sapien u...,Development,Quality Assurance,Cat2,TypeA,1,97.03
a00P0000006KXnSIAW,Pepper - Green Thai,dolor morbi vel lectus in quam fringilla rhonc...,Development,Coding,Cat1,TypeC,9,28.35
a00P0000006KXnTIAW,Table Cloth 53x53 White,vivamus vel nulla eget eros elementum pellente...,Sales,Sales Engineering,Cat2,TypeB,8,95.96

# Converting from categorical to numerical
## One hot encoding
Rather than having a dataset full of categorical data it is better to cleanse the data and convert to numerical values

In [20]:

# Select node features
node_features = raw_dataframe[["Department__c", "Category__c", "Sub_Category__c", "Type__c", "Quantity__c", "Unit_Price__c"]]
# # Convert non-numeric columns
# pd.set_option('mode.chained_assignment', None)
# ## Departmenmts
# departments = node_features["Department__c"].str.split(",", expand=True)
# node_features["first_department"] = departments[0]
# # ## Category
# categories = node_features["Category__c"].str.split(",", expand=True)
# node_features["first_category"] = categories[0]
# ## Sub Categories
# sub_categories = node_features["Sub_Category__c"].str.split(",", expand=True)
# node_features["first_sub_category"] = sub_categories[0]
# ## Types
# types = node_features["Type__c"].str.split(",", expand=True)
# node_features["first_type"] = types[0]

# # One-hot encoding
# ## Departments
# node_features = pd.concat([node_features, pd.get_dummies(node_features["first_department"]).astype(int)], axis=1, join='inner')
# node_features.drop(["Department__c", "first_department"], axis=1, inplace=True)
# ## Catagories
# node_features = pd.concat([node_features, pd.get_dummies(node_features["first_category"]).astype(int)], axis=1, join='inner')
# node_features.drop(["Category__c", "first_category"], axis=1, inplace=True)
# ## Departments
# node_features = pd.concat([node_features, pd.get_dummies(node_features["first_sub_category"]).astype(int)], axis=1, join='inner')
# node_features.drop(["Sub_Category__c", "first_sub_category"], axis=1, inplace=True)
# ## Departments
# node_features = pd.concat([node_features, pd.get_dummies(node_features["first_type"]).astype(int)], axis=1, join='inner')
# node_features.drop(["Type__c", "first_type"], axis=1, inplace=True)
node_features.head()

,Department__c,Category__c,Sub_Category__c,Type__c,Quantity__c,Unit_Price__c
Id,,,,,,
a00P0000006KXnPIAW,Support,Tier 2,Cat1,TypeB,9,2.82
a00P0000006KXnQIAW,Development,Quality Assurance,Cat1,TypeA,3,39.29
a00P0000006KXnRIAW,Development,Quality Assurance,Cat2,TypeA,1,97.03
a00P0000006KXnSIAW,Development,Coding,Cat1,TypeC,9,28.35
a00P0000006KXnTIAW,Sales,Sales Engineering,Cat2,TypeB,8,95.96

In [21]:
# Convert to numpy
x = node_features.to_numpy()
x.shape # [num_nodes x num_features]

(10000, 6)

# Edge extraction
Now we need to extract the edges that connect our different nodes, first we'll start with department. Each department will lead to a differetn subgroup that can then be traversed and searched when querying the dataset